.header{
    padding: 20px 0;
    border-bottom: 1px solid $grayColor;
    overflow: hidden;
    .logo{
        position: relative;

        @media #{$minSmall}{
            width: 100%;
            float: none;
            text-align: center;
        }
        @media #{$minMedium}{
            width: 30%;
            float: $float-left;
            text-align: $text-left;
        }

        h1{
            margin-bottom: 0;
        }
        // p{

        // }
    }
    .navbar{
        background-color: $redColor;
        border-radius: 15px;
        overflow: hidden;

        @media #{$maxMobile}{
            display: none;
            border-radius: 0;
        }
        @media #{$minSmall}{
            width: 100%;
            float: none;
            margin-top: 30px;
            display: block !important;
        }
        @media #{$minMedium}{
            width: 70%;
            float: $float-left;
            margin-top: 1em;
        }
    

        li{
            width: 20%;
            float: $float-left;
            font-size: 18px;
            text-align: center;
            @media #{$maxMobile}{
                width: 100%;
                float: none;
                display: block;
                text-align: $text-left;
                padding-left: 10px;
                padding-right: 10px;
            }
            a{
                display: block;
                padding: 20px 10px;
                color: #FFF;
                text-decoration: none;
                &:hover{
                    color:#DDD;
                }
            }
        }
    }
}